

<section id="process" class="bg-gradient2 section-padding d-flex align-items-center h100">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10 ">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Nuestro sistema analizó tu información, y cumples con los requisitos para solicitar cualquiera de las siguientes opciones:</p>
				<div class="row justify-content-center">
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/banco_azteca.png" alt="Banco Azteca">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos de $1,000 a <span class="font-weight-bold text-success">$12,000</span></li>
										<li>Entrega inmediata.</li>
										<li>Probabilidad de aprobación: 90%</li>
									</ul>
								</div>
								<p class="">
									<a href="https://ymz8k.app.goo.gl/jzfx" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-0" src="images/kueski.png" alt="Kueski">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros</li>
										<li>Sin depósitos ni pagos por adelantado</li>
										<li>Probabilidad de aprobación alta</li>
									</ul>
								</div>
								
								<p class="">
									<a href="https://kueski.com/prestamos-en-linea?utm_source=vtxizy&utm_medium=p_cmm&utm_campaign=gral4&utm_term=ppg&utm_content=nh" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> 
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-0" src="images/dineria.jpg" alt="Dineria">
								<h3 class="font-weight-bold h6">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small my-4">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$12,000</span></li>
										<li>Entrega inmediata</li>
									</ul>
								</div>
								<p class="mt-4 mt-lg-0">
									<a href="https://ojo7.ltroute.com/click.track?CID=426227&AFID=428585" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-2" src="images/lendon.png" alt="Lendon">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$10,000</span></li>
										<li>Sin papeleos</li>
										<li>Entrega inmediata</li>
									</ul>
								</div>
								<p class="">
									<a href="https://ojo7.ltroute.com/click.track?CID=413401&AFID=428585" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-0" src="images/kueski.png" alt="Kueski">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros</li>
										<li>Sin depósitos ni pagos por adelantado</li>
										<li>Probabilidad de aprobación alta</li>
									</ul>
								</div>
								
								<p class="">
									<a href="https://kueski.com/prestamos-en-linea?utm_source=vtxizy&utm_medium=p_cmm&utm_campaign=gral4&utm_term=ppg&utm_content=nh" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/askrobin.png" alt="AskRobin">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$15,000</span></li>
										<li>Totalmente desde tu celular.</li>
										<li>ALTA probabilidad de aprobación.</li>
									</ul>
								</div>
								<p class="">
									<a href="https://robinacademia.com/?a=23&c=113&s1=Credigenio" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/american.png" alt="American Express">
								<h3 class="font-weight-bold h6 mb-3">AMEX GOLD ELITE</h3>
								<div class="text-left">
									<ul class="small">
										<li>$2,000 MN en Monedero Liverpool</li>
										<li>Fácil, rápido y seguro.</li>
									</ul>
								</div>
								<p class="">
									<a href="https://afiliacion.net/?a=1988640&c=9558&s1=AI_AgenciaIvan_MX-SMS" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
						
				</div>
				<!-- <div class="row justify-content-center">
						<div class="col-sm-6 col-lg-4">
								<div class="card-wini">
									<div class="content">
                      <h6 class="font-weight-bold">Quizás también podría interesar obtener una <span class="text-success">tarjeta de crédito</span>:</h6>
										<img class="max80 mt-3 mb-3" src="images/coru.png" alt="Coru">
										<h3 class="font-weight-bold h6 mb-3">¡Las mejores Tarjetas de crédito!</h3>
										<div class="text-left">
											<ul class="small">
												<li>Te ofrecemos opciones para que seas tú quien elija la <strong class="text-success">tarjeta de crédito</strong> que quiere.</li>
												<li>Fácil, rápido y seguro.</li>
											</ul>
										</div>
										<p class="">
											<a href="http://ntvn.io/M14FK" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
										</p>
									</div>
								</div>
							</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<h6 class="font-weight-bold">Quizás también podria interesarte este <span class="text-info">seguro</span>:</h6>
								<img class="max80 mt-3 mb-0" src="images/mapfre.jpg" alt="Mapfre">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
                    <li>Cobertura total para tu auto</li>
                    <li>¡Cotiza tu seguro en menos de 10 segundos!</li>
									</ul>
								</div>
								
								<p class="">
									<a href="http://ntvn.io/NXad2" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block"> Cotiza aquí tu seguro <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>




