<header id="home" class="masthead h40 section-padding">
    <div class="masthead-content">
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h4 class="h6 font-weight-bold text-center">¿Tienes una tarjeta bancaria de débito a tu nombre?</h4>
						<p class="text-muted small">Responde "Sí", en caso de contar con una tarjeta de débito, o "No", en caso de no tener una tarjeta de débito a tu nombre. Después, haz clic en el <span class="badge badge-warning">Siguiente</span></p>
						<p class="text-info font-weight-bold small text-center mb-3">Puede ser de nómina, o de cualquier institución bancaria</p>
						<div class="radio-tile-group text-center">
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label bolean">No</label>
								</div>
							</div>
						</div>
						<hr>
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<a href="javascript:" data-url="/step5" class="btn btn-warning btn-rounded font-weight-bold btn-block btn-next">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




