<header id="home" class="masthead h40 section-padding">
    <div class="masthead-content">
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h2 class="font-weight-bold text-blue h4 mb-0">Datos generales</h2>
						<p class="small">Ingresa tu número celular a 10 dígitos, tu correo electrónico y haz clic en <span class="font-weight-bold text-warning">Siguiente</span></p>
						
						<form id="form-lead">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Teléfono celular</label>
										<input type="tel" class="form-control btn-rounded" id="phone" placeholder="10 dígitos" maxlength="10" onkeyup="onlyNumber()" >
										<small id="" class="form-text text-warning alert-c" >Campo incorrecto. Tu teléfono debe contener 10 dígitos</small>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Correo electrónico</label>
										<input type="email" class="form-control btn-rounded" id="email"  placeholder="Correo electrónico">
										<small id="" class="form-text text-warning alert-c">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-3">
									<button id="finish" type="submit" class="btn btn-warning btn-rounded font-weight-bold btn-block"  >Siguiente <i class="fas fa-angle-double-right ml-2"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



