<header id="home" class="masthead h40 section-padding">
    <div class="masthead-content">
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h6 class="font-weight-bold text-center">¿Cuál es tu ingreso mensual?</h6>
						
						<div class="radio-tile-group text-center">
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Menos de<br> $7,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $7,000  y $15,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $15,000 y $25,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $25,000 y $40,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Entre $40,000 y $100,000 pesos</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label">Más de<br> $100,000 pesos</label>
								</div>
							</div>
						</div>

						<h6 class="my-3 font-weight-bold text-center">¿Puedes comprobar tus ingresos?</h6>

						<div class="radio-tile-group text-center">
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio2" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label bolean">Sí</label>
								</div>
							</div>
							<div class="input-container">
								<input class="radio-button" type="radio" name="radio2" />
								<div class="radio-tile">
									<label for="walk" class="radio-tile-label bolean">No</label>
								</div>
							</div>
						</div>
						<hr>
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<a href="javascript:" data-url="/step3" class="btn btn-warning btn-rounded font-weight-bold btn-block btn-next">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




