<header id="home" class="masthead h40 section-padding">
    <div class="masthead-content">
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h4 class="h6 font-weight-bold text-center">¿Actualmente tienes uno o más de estos productos financieros vigentes?</h4>
						<p class="mb-3 text-info text-center"><small>Elige todas las opciones necesarias</small></p>
						<div class="row justify-content-md-center">
							<div class="col-sm-6">
								<div class="box-check">
									<p><input class="cbx" type="checkbox" value="1" id="1" /><label class="zen" for="1"><span class="ui"></span>Préstamo Bancario</label></p>


									<p><input class="cbx" type="checkbox" value="2" id="2" /><label class="zen" for="2"><span class="ui"></span>Préstamo Personal</label></p>


									<p><input class="cbx" type="checkbox" value="3" id="3" /><label class="zen" for="3"><span class="ui"></span>Tarjeta de crédito</label></p>


									<p><input class="cbx" type="checkbox" value="4" id="4" /><label class="zen" for="4"><span class="ui"></span>Crédito Hipotecario</label></p>


									<p><input class="cbx" type="checkbox" value="5" id="5" /><label class="zen" for="5"><span class="ui"></span>Crédito Automotriz</label></p>


								</div>
							</div>
						</div>
						<div class="row hidden-box mb-3">
							<div class="col-sm-12">
								<h4 class="h6 mt-4 font-weight-bold text-center">¿Estás al corriente con tu crédito o préstamo?</h4>
								<div class="radio-tile-group text-center">

									<div class="input-container checkbox">
										<input class="radio-button" type="radio" name="radio5" />
										<div class="radio-tile">
											<label for="walk" class="radio-tile-label bolean">Sí</label>
										</div>
									</div>
									<div class="input-container checkbox">
										<input class="radio-button" type="radio" name="radio5" />
										<div class="radio-tile">
											<label for="walk" class="radio-tile-label bolean">No</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<p id="textInfo" class="small font-weight-bold text-info">Si no cuentas con ninguno, haz clic en el botón "Siguiente"</p>
							</div>
						</div>
						<hr>
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<a href="/step6" class="btn btn-warning btn-rounded font-weight-bold btn-block">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




