<header id="home" class="masthead h40 section-padding">
    <div class="masthead-content">
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h2 class="font-weight-bold text-center h6">Fecha de nacimiento</h2>
							<div class="row justify-content-center">
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Día</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
											<option>13</option>
											<option>14</option>
											<option>15</option>
											<option>16</option>
											<option>17</option>
											<option>18</option>
											<option>19</option>
											<option>20</option>
											<option>21</option>
											<option>22</option>
											<option>23</option>
											<option>24</option>
											<option>25</option>
											<option>26</option>
											<option>27</option>
											<option>28</option>
											<option>29</option>
											<option>30</option>
											<option>31</option>
										</select>
									</div>
								</div>
								<div class="col col-sm-3 pl-0">
									<div class="form-group">
										<label for="">Mes</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded">
											<option>ENE</option>
											<option>FEB</option>
											<option>MAR</option>
											<option>ABR</option>
											<option>MAY</option>
											<option>JUN</option>
											<option>JUL</option>
											<option>AGO</option>
											<option>SEP</option>
											<option>OCT</option>
											<option>NOV</option>
											<option>DIC</option>
										</select>
									</div>
								</div>
								<div class="col col-sm-3 pl-0">
									<div class="form-group">
										<label for="">Año</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded">
											<option>1960</option>
											<option>1961</option>
											<option>1962</option>
											<option>1963</option>
											<option>1964</option>
											<option>1965</option>
											<option>1966</option>
											<option>1967</option>
											<option>1968</option>
											<option>1969</option>
											<option>1970</option>
											<option>1971</option>
											<option>1972</option>
											<option>1973</option>
											<option>1974</option>
											<option>1975</option>
											<option>1976</option>
											<option>1977</option>
											<option>1978</option>
											<option>1979</option>
											<option>1980</option>
											<option>1981</option>
											<option>1982</option>
											<option>1983</option>
											<option>1984</option>
											<option>1985</option>
											<option>1986</option>
											<option>1987</option>
											<option>1988</option>
											<option>1989</option>
											<option>1990</option>
											<option>1991</option>
											<option>1992</option>
											<option>1993</option>
											<option>1994</option>
											<option>1995</option>
											<option>1996</option>
											<option>1997</option>
											<option>1998</option>
											<option>1999</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<div class="form-group">
										<label for="">¿Dónde vives?</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded">
											<option>Aguascalientes</option>
											<option>Baja California</option>
											<option>Baja California Sur</option>
											<option>Campeche</option>
											<option>Coahuila de Zaragoza</option>
											<option>Colima</option>
											<option>Chiapas</option>
											<option>Chihuahua</option>
											<option>CDMX</option>
											<option>Durango</option>
											<option>Guanajuato</option>
											<option>Guerrero</option>
											<option>Hidalgo</option>
											<option>Jalisco</option>
											<option>México</option>
											<option>Michoacán de Ocampo</option>
											<option>Morelos</option>
											<option>Nayarit</option>
											<option>Nuevo León</option>
											<option>Oaxaca</option>
											<option>Puebla</option>
											<option>Querétaro</option>
											<option>Quintana Roo</option>
											<option>San Luis Potosí</option>
											<option>Sinaloa</option>
											<option>Sonora</option>
											<option>Tabasco</option>
											<option>Tamaulipas</option>
											<option>Tlaxcala</option>
											<option>Veracruz</option>
											<option>Yucatán</option>
											<option>Zacatecas</option>
										</select>
									</div>
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<h4 class="font-weight-bold h6 text-center mb-4">Para finalizar acepta los siguientes términos:</h4>
									<div class="box-check">
										<p><input id="terms" class="cbx" type="checkbox" value="1" /><label class="zen" for="terms"><span class="ui"></span>Acepto los términos y condiciones del servicio</label></p>


										<p><input id="privacy" class="cbx" type="checkbox" value="2" /><label class="zen" for="privacy"><span class="ui"></span>Acepto el aviso de privacidad</label></p>


									</div>
								</div>
							</div>
						<hr>
						<div class="row justify-content-center">
							<div class="col-sm-5">
								<a href="javascript:" data-url="/results" class="btn btn-warning btn-rounded font-weight-bold btn-block btn-next">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




